parameters:
    level: 7
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_emconf.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/public
        - %currentWorkingDirectory%/Resources

