<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<h1>Semantic search</h1>
<f:form action="search" method="post">
    <div class="form-group">
        <f:form.textfield class="form-control" name="query" value="{query}"/>
        <h2>Select a Table to Search:</h2>
        <label>
            <f:form.radio name="table" value="" id="searchTable" checked="true"/>
            All tables
        </label><br>
        <f:for each="{tablesToIndex}" as="table">
            <label>
                <f:form.radio name="table" id="searchTable" value="{table.tablename}"/>
                {table.tablename}
            </label><br>
        </f:for>
        <f:form.submit class="btn btn-secondary" value="Search"/>
    </div>
</f:form>
</html>
