<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
{namespace ext=Amt\AmtPinecone\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Content">
    <f:render partial="SearchBar" arguments="{query: query, tablesToIndex: tablesToIndex}"/>
    <h1>Semantic search - results</h1>
    <f:if condition="{query}">
        <h2>Results</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID of Record</th>
                <th>UID from Table</th>
                <th>Table</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{ext:pineconeSearch(query: '{query}', table: '{selectedTable}')}" as="result">
                <tr>
                    <td>{result.id}</td>
                    <td>{result.metadata.uid}</td>
                    <td>{result.metadata.tablename}</td>
                    <td>{result.score}</td>
                    <td>
                        <be:link.editRecord table="{result.metadata.tablename}" uid="{result.metadata.uid}">
                            <button type="button" class="btn btn-secondary">
                                Edit Record
                            </button>
                        </be:link.editRecord>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:if>
</f:section>
</html>
