<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Base"/>
<f:section name="Content">
    <div>
        <f:flashMessages/>
        <h3>OpenAI API Key: {openAiApiKey}<br>
            OpenAI Model for Embeddings: {openAiModelForEmbeddings}<br>
            Pinecone API Key: {pineconeApiKey}<br>
            Pinecone API optional host: {pineconeOptionalHost}<br>
            Pinecone API index name: {pineconeIndexName}<br>
            Pinecone API validation result - index name: {pineconeValidateIndexName}<br>
        </h3>
        <f:if condition="{pineconeAllIndexes}">
            <h3>List of existing indexes: </h3>
            <f:for each="{pineconeAllIndexes}" as="index">
                Index Name: {index.name}
                <br>
                Host Name: {index.host}
                <br>
            </f:for>
        </f:if>
        <f:link.action action="index" controller="Search" class="btn btn-primary">
            Search with the Pinecone
        </f:link.action>
    </div>
</f:section>
</html>
