<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Content">
    <div class="container mt-5">
        <f:flashMessages/>
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h3>Configuration</h3><br>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <f:render partial="ApiStatus" arguments="{validatedApiResponse: openAiDTO.validateApiKey}"/>
                        OpenAI API Key:
                        <span class="text-muted">{openAiDTO.apiKey}</span>
                    </li>
                    <li class="list-group-item">
                        <f:render partial="ApiStatus" arguments="{validatedApiResponse: pineconeDTO.validateApiKey}"/>
                        Pinecone API Key:
                        <span class="text-muted">{pineconeDTO.apiKey}</span>
                    </li>
                    <li class="list-group-item">
                        <f:render partial="ApiStatus" arguments="{validatedApiResponse: openAiDTO.validateModel}"/>
                        OpenAI Model for Embeddings:
                        <span class="text-muted">{openAiDTO.modelForEmbeddings}</span>
                    </li>
                    <li class="list-group-item">
                        <f:render partial="ApiStatus"
                                  arguments="{validatedApiResponse: pineconeDTO.validateIndexName}"/>
                        Pinecone API index name:
                        <span class="text-muted">{pineconeDTO.indexName}</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="mb-4">
                            <span class="text-muted"><strong>OpenAI tokens used: {openAiDTO.usedTokens}/{openAiDTO.tokenLimit}</strong></span>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {openAiDTO.percentageTokensUsed}%;"
                                     aria-valuenow="{openAiDTO.percentageTokensUsed}" aria-valuemin="0"
                                     aria-valuemax="100">
                                    {openAiDTO.percentageTokensUsed}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <f:if condition="{pineconeDTO.nonExistsTables}">
                    <div class="mt-4">
                        <div class="card-header bg-secondary text-white">
                            <h3>Invalid tables names configuration</h3><br>
                        </div>
                        <table class="table table-striped text">
                            <thead>
                            <tr>
                                <th style="text-align: center">UID from table</th>
                                <th style="text-align: center">Table</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{pineconeDTO.nonExistsTables}" as="nonExistsTable">
                                <tr>
                                    <td style="text-align: center">{nonExistsTable.uid}</td>
                                    <td style="text-align: center">{nonExistsTable.tablename}</td>
                                    <td style="text-align: center">
                                        <be:link.editRecord table="tx_amt_pinecone_configindex"
                                                            uid="{nonExistsTable.uid}">
                                            <button type="button" class="btn btn-secondary">
                                                Edit Record
                                            </button>
                                        </be:link.editRecord>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>
